.whatsapp{
  position: fixed;
  bottom:40px;
  right:40px;  
  width:60px;
  height:60px;
  font-size: 30px;
  text-align: center;  
  color: white;
  background-color: #25d366;
  border-radius:50px;
  z-index: 999;
}

.whatsapp:hover{
  filter:brightness(1.25);
}