/*valores impares tienen 10 excepto el primero que tiene 0*/
tr:nth-child(2n+1){
   background: #eee
}

/*los dos primeros cuyos valores son 0*/
tr:nth-child(-n+2){
  background: rgb(209, 138, 138)
}

/*los que tienen valor 100 que se repiten cada 4 veces*/
tr:nth-child(4n){
   background: rgb(151, 235, 118)
}

/*el ultimo hijo*/
tr:last-child{
  background: #333; 
  color: white;
}
